<link rel="stylesheet" href="/css/bootstrap.css" />
<div class="row-fluid">
<div class="span2 offset10">
<a href="/blog" class="btn btn-mini  btn-info ajax">Voltar</a>
</div>
</div>
<div class="container">
<h2 class="text-info">{{ post.getTitle() |raw }}</h2>


<div class="row-fluid">
<div class="span12">
{{ post.getContent() |raw }} 
</div>
</div>

</div>


